<h1>Hi <%= current_user.username%></h1>

<h2>Here is your collection</h2>

<% Collection.all.each do |collection| %>
<ol>
  <li><%= collection.quantity %>: <%= collection.pattern_name %> <%= collection.piece_name%></li>
</ol>
<% end %>
<br>

<h2>Patterns: </h2>
<% Pattern.all.each do |pattern| %>
  <ul>
    <li><%= pattern.name %>: <%= pattern.theme %></li>
  </ul>
<% end %>

<h2>Pieces: </h2>
<% Piece.all.each do |piece| %>
  <ul>
    <li><%= piece.name %>: <%= piece.size %></li>
  </ul>
<% end %>

<br></br>
<a href="/pieces/new">Add a new piece </a><br>
<a href="/patterns/new">Add a new pattern </a><br>
<a href="/logout">Log Out </a><br>
