<h1>Welcome <%= @user.username %></h1>

<h2>Here is your collection: </h2>

<% @collection.patterns.each do |pattern| %>
<ol>
  <li><a href="/patterns/<%= pattern.id %>"><%= pattern.name %> <%= piece.theme %></li>
</ol>
<% end >

<br></br>
<% @collection.pieces.each do |piece| %>
<ol>
  <li><a href="/pieces/<%= piece.id %>"><%= piece.quantity %> <%= piece.name %> <%= piece.size%> </li>
</ol>
<% end %>

<br></br>
<a href="/pieces/new">Add a new piece </a><br>
<a href="/patterns/new">Add a new pattern </a><br>
<a href="/logout">Log Out </a><br>
