<h2>Edit <%= @piece.name %></h2>

<form action="/pieces/<%= @piece.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="piece_name">Edit Name: <input type="text" name="name" id="piece_name" value="<%= @piece.name %>"></label>
  <label for="piece_size>">Edit Size: <input type="text" name="size" id="piece_size" value="<%= @piece.size %>"></label>
  <br></br>
  <h2>Patterns: </h2>
  <% Pattern.all.each do |pattern| %>
    <input type="checkbox" name="piece[pattern_ids][]" id="<%= @piece.id %>" value="<%= pattern.id%>" <%='checked' if @piece.patterns.include?(pattern)%>><%= pattern.name %></input>
  <% end %>
  <br></br>
  <h2>Add New Pattern: </h2>
    <label for="new_pattern">Pattern Name: <input type="text" name="pattern[name]" id="new_pattern"></label>
    <label for="new_quantity">Quantity: <input type="text" name="pattern[quantity]" id="new_quantity"></label>
  <br></br>
  <input type="submit" value="Update Piece">
</form>

<a href="/pieces">Patterns</a></br>
<a href="/">Home</a>
